[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
    branch = master
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
    branch = master
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline
    branch = master
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = git://github.com/bling/vim-bufferline
    branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
    branch = master
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
    branch = master
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
    branch = master
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
    branch = master
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/raajay/vim-snippets.git
    branch = master
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
    branch = master
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/raajay/vim-rooter.git
    branch = master
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
    branch = master
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
    branch = master
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
    branch = master
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
    branch = master
[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    branch = master
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
    branch = master
[submodule "bundle/csv-vim"]
	path = bundle/csv-vim
	url = https://github.com/chrisbra/csv.vim.git
    branch = master
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    branch = master
[submodule "bundle/vim-ag"]
	path = bundle/vim-ag
	url = https://github.com/rking/ag.vim.git
    branch = master
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/vim-csexact"]
	path = bundle/vim-csexact
	url = https://github.com/KevinGoodsell/vim-csexact.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-csapprox"]
	path = bundle/vim-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/TagHighlight"]
	path = bundle/TagHighlight
	url = https://github.com/BenBergman/TagHighlight.git
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
[submodule "bundle/monokai-airline"]
	path = bundle/monokai-airline
	url = https://github.com/rcabralc/monokai-airline.vim.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = git@github.com:xolox/vim-shell.git
[submodule "bundle/vim-geeknote"]
	path = bundle/vim-geeknote
	url = https://github.com/neilagabriel/vim-geeknote.git
