[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    branch = master
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
    branch = master
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
    branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    branch = master
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
    branch = master
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
    branch = master
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = https://github.com/Raimondi/delimitMate.git
    branch = master
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/raajay/vim-snippets.git
    branch = master
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/raajay/vim-rooter.git
    branch = master
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
    branch = master
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
    branch = master
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
    branch = master
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
    branch = master
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
    branch = master
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    branch = master
[submodule "bundle/vim-ag"]
	path = bundle/vim-ag
	url = https://github.com/rking/ag.vim.git
    branch = master
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/vim-ansible"]
	path = bundle/vim-ansible
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "bundle/syntax"]
	path = bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-mru"]
	path = bundle/vim-mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/vim-pencil"]
	path = bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule "bundle/vim-wordy"]
	path = bundle/vim-wordy
	url = https://github.com/reedes/vim-wordy.git
[submodule "tools/YCM-Generator"]
	path = tools/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-rtags"]
	path = bundle/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "bundle/color_coded"]
	path = bundle/color_coded
	url = https://github.com/jeaye/color_coded.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/vimspectr"]
	path = bundle/vimspectr
	url = https://github.com/nightsense/vimspectr.git
[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
